HeaderName /HEADER.html
ReadmeName README.html
ErrorDocument 404 /404.html
AddIcon /.worksite/img/dir.png ^^DIRECTORY^^
DefaultIcon /.worksite/img/file.png
IndexIgnore header.html footer.html 404.html favicon.ico *.cgi favicon.* robots.txt .htaccess .ftpquota .DS_Store icons *.log *,v *,t .??* *~ *#
IndexOptions NameWidth=20 DescriptionWidth=50 ScanHtmlTitles FoldersFirst FancyIndexing IconHeight=16 IconWidth=16 SuppressSize
RewriteEngine on
RewriteRule ^(.*)(.py)$ /.worksite/render.cgi?$1.py
