RewriteEngine on
HeaderName /HEADER.html
ReadmeName README.html
ErrorDocument 404 /.worksite/404.html
AddIcon           /.worksite/img/dir.png ^^DIRECTORY^^
DefaultIcon       /.worksite/img/arrow.gif
IndexIgnore HEADER.html FOOTER.html  _tmp _img *.css  todo Makefile favicon.ico *.cgi favicon.* robots.txt .htaccess .ftpquota .DS_Store icons *.log *,v *,t .??* *~ *#
IndexOptions NameWidth=20 DescriptionWidth=50 ScanHtmlTitles FoldersFirst FancyIndexing IconHeight=16 IconWidth=16 SuppressHTMLPreamble  SuppressSize
######
RewriteRule ^(.*)(.py)$ /.worksite/render.cgi?$1.py
RewriteRule ^(.*)(.md)$ /render.cgi?$1
